= button_to "List Users", users_path, method: :get
= button_to "List Email Character Frequency", users_email_character_frequency_path, method: :get
= button_to "List Possible Duplicate Emails", users_possible_duplicate_emails_path, method: :get
= button_to "Refresh Data", users_refresh_data_path, method: :post
%br
